/* navbar */
.navbar {
    background-color: rgb(163, 4, 4) !important;
    color: white !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: white !important;
    font-size: 1.5rem;
    margin-left: 90px;
}
.profile-menu {
    margin-right: 90px;
}

.navbar-nav .nav-link {
    color: white !important;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ddd !important;
}

.dropdown-menu {
    min-width: 250px;
}

.profile-dropdown {
    right: 20px;
    top: 60px;
    min-width: 280px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #3b82f6;
}

.form-control {
    margin-bottom: 15px;
}
.profile-section {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.btn-simpan {
    background-color: #00a65a;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
}
